{% block stylesheets %}
    <link rel="stylesheet" href="/web/css/HealthOne.css">
    <link rel="stylesheet" href="/web/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top" style="color: #4cae4c;" >
        <div class="navbar-header" style="background-color: black" >
            <p style="margin-left: 1700px"></p></br>
            <p class="navbar-brand" style="color: white">Training Factory Den Haag</p>
            <img style="display: block;
                margin-left: auto;
                margin-right: auto;
                width: 20%;"
                 class="card-img-top" src="../../../web/images/logo1.png">
        </div>
        <div class="container-fluid" style="background-color: black;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home</a></li>
                <li><a href="trainingsvorm">Trainingsvorm</a></li>
                <li><a href="begeleiders">Begeleiders</a></li>
                <li><a href="leden">Leden</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="../logout"><span class="glyphicon glyphicon-user"></span> Uitloggen</a></li>
            </ul>
        </div>

    </nav> <p> admin home Page</p>
{% endblock %}