{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Member Toevoegen</h1>
                {{ form_start(memberform,{'attr': {'novalidate':'novalidate'}}) }}
                {{ form_widget(memberform) }}

                {{ form_end(memberform) }}
            </div>
        </div>
    </div>

    <button id="artstoevoegen" class="btn btn-block"><a  href="leden" style="color: black;">Terug</a></button>
{% endblock %}