{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Member Weizigen</h1>
                {{ form_start(trainingsForm,{'attr': {'novalidate':'novalidate'}}) }}
                {{ form_widget(trainingsForm) }}
                {{ form_end(trainingsForm) }}
            </div>
        </div>
    </div>

    <button id="" class="btn btn-block"><a  href="../leden" style="color: black;">Terug</a></button>
{% endblock %}