{% block body %}
    {%  if error %}
        <div>{{ error.messageKey|trans(error.messageData, "security") }}</div>
    {% endif %}
    <nav class="navbar bg-dark">
        <div class="container">
            <ul class="nav navbar-nav pull-sm-left">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 4</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-logo mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Brand</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-sm-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 6</a>
                </li>
            </ul>
        </div>
    </nav>
    <form id="form" class="form-horizontal" action="{{ path('login') }}" method="post">
        <table>
            <caption>Inloggen</caption>
            <tr>
                <td>Gebruikersnaam:</td>
                <td>
                    <input type="text" autocomplete="off" id="username" placeholder="Vul uw gebruikersnaam in" name="_username" value="{{ last_username }}" required="required"/>
                </td>
            </tr>
            <tr>
                <td>Wachtwoord:</td>
                <td>
                    <input type="password" autocomplete="off" id="password" name="_password" placeholder="Vul uw wachtwoord in" required="required"/>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="inloggen"><input type="reset" value="reset"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block stylesheets %}
    <link rel="STYLESHEET" href="{{ asset('css/inloggen.css') }}" type="text/css">
{% endblock %}
